<div id="<%= dom_id event %>" class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title"><%= event.title %></h5>
    <h5 class="card-title"><%= event.price %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Le <%= event.start_date %>, à <%= event.location %></h6>
    <h6 class="card-subtitle mb-2">Durée : <%= event.duration %> heures</h6>
    <p class="card-text"><%= event.description %></p>

  </div>
</div>

