<p style="color: green"><%= notice %></p>

<h1>Les évènements à venir</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<% if user_signed_in? %>  
  <%= link_to "Créer un évènement", new_event_path %>
<% else %>  
  <%= button_to "Créer un évènement", new_user_session_path%>
<% end %>